@font-face {
  font-family: "KondolarThai";
  src: url("https://design-systems.wevis.info/KondolarThai-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "KondolarThai";
  src: url("/assets/fonts/KondolarThai-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KondolarThai";
  src: url("/assets/fonts/KondolarThai-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans Thai";
  font-display: swap;
  src: url(https://design-systems.wevis.info/IBMPlexSansThai-Regular.otf)
    format("opentype");
}
@font-face {
  font-family: "IBM Plex Sans Thai";
  font-weight: 600;
  font-display: swap;
  src: url(https://design-systems.wevis.info/IBMPlexSansThai-SemiBold.otf)
    format("opentype");
}
@font-face {
  font-family: "IBM Plex Sans Thai";
  font-weight: 700;
  font-display: swap;
  src: url(https://design-systems.wevis.info/IBMPlexSansThai-Bold.otf)
    format("opentype");
}
